//COLORS
$color-primary-light: #1b1b1b;
$color-primary-dark: #141414;
$color-black-dark: #000;

//GRADIENT
$color-primary-first: #fe4150;
$color-primary-second: #008ebe;
$color-primary-third: #0033b4;
$color-primary-fourth: #00054a;

$color-secondary-first: #0e056c;
$color-secondary-second: #027bb7;
$color-secondary-third: #7c62bf;
$color-secondary-fourth: #bfd2f3;

$color-tertiary-first: #1d2171;
$color-tertiary-second: #24287f;
$color-tertiary-third: #5263b7;
$color-tertiary-fourth: #cb4d69;
$color-tertiary-fifth: #cb94ae;

$color-quaternary-first: #001c46;
$color-quaternary-second: #004c61;
$color-quaternary-third: #03b5af;
$color-quaternary-fourth: #3952d1;
$color-quaternary-fifth: #7b11e9;
$color-quaternary-sixth: #e7359b;


$color-grey-light-1: #f7f7f7;

$color-text-white-grey: #eaeaea;
$color-border: #eee;
$color-white: #fff;

$color-effect-blue: #2a84a5;
$color-gradient-red: #DA4453;
$color-gradient-purple: #89216B;

//FONT SIZE
$default-font-size: 1.6rem;

//GRID
$grid-width: 125rem;
$gutter-vertical: 6rem;
$gutter-horizontal: 4rem;

//SHADOW
$shadow-box: rgba($color-grey-light-1, .15);